


.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.loading-content {
  text-align: center;
}

.loading-message {
  color: #4b5563;
  margin-top: 16px;
}

.loading-animation {
  animation: spin 1s linear infinite;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  border-bottom: 2px solid var(--teal-accent);
  margin: 0 auto 16px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
